* {
    font-family: 'Montserrat';
}

h1,h2,h3,h4,h5,h6 {
    /* font-family: "Montserrat", "Ubuntu"; */
    font-weight: bold;
}

p {
    color: #8f8f8f;
   }

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.color-section {
    background-color: #ff4c68;
}

#title {
    color: #fff;
}

.big-heading {
    size: 3.5rem;
    line-height: 1.5;
}

/* Navigation bar */

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* title image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
 }

#features {
    background-color: #fff;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.iconos {
    font-size: 50px;
    color: #ef8172;
}

.iconos:hover {
    color: #ff4c68;
}

#testimonials {
    position: relative;   
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin-right: 20px;
}

#press {
    text-align: center;  
}

.press-logo {
    width: 15%;
    margin: 20px 20px;
}

#cta {
    font-weight: bold;
    padding: 3% 15%;
}

@media (max-width: 991px) {

    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

@media (min-width: 2000px) {

    .title-image {
        width: 40%;
    }
}